* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 90px;
}

body {
  font-family: "Playfair Display";
  color: #dddadb;
  font-weight: 300;
  width: 100%;
  padding: 0;
}

/* ----- Hovers y Animations -------- */
a:hover {
  color: #e9a830;
}

/* ----- Header ----- */
header div a {
  text-decoration: none;
}
header div a h1 {
  align-items: center;
  display: flex;
  font-family: "Splash";
  text-transform: uppercase;
  color: #758193;
  transition: 0.2s;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 10px;
}
header div a h1::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: #b91f41;
  top: 75%;
  right: 0;
  width: 100%;
  height: 100%;
  transition: 0.2s;
  transform: perspective(5rem) rotateX(30deg) scale(1, 0.5);
  filter: blur(1.5rem);
  opacity: 0;
}
header div nav .dropdown {
  display: none;
}
header div nav ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}
header div nav ul li a {
  text-decoration: none;
  color: #b91f41;
  margin: 10px;
}

/* ----- Hovers y Animations -------- */
header div a h1:hover {
  color: #b91f41;
  text-shadow: 0 0 0.5rem hsla(0deg, 0%, 100%, 0.322), 0 0 1rem #b91f41;
}
header div a h1:hover::before {
  opacity: 1;
}

header div nav .button:hover {
  background: #b91f41;
  color: #241525;
  text-shadow: none;
  box-shadow: 0 0 2em 0.5em #b91f41;
}
header div nav .button:hover::before {
  opacity: 1;
}
header div nav .button a:hover {
  color: #241525;
}

@-webkit-keyframes fade-in {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes fade-in {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0px);
  }
}
tr:hover {
  background-color: #0e0712;
}

/* ----- main ----- */
main {
  background-color: #241525;
}
main h3 {
  text-align: center;
  background: radial-gradient(circle, rgb(0, 0, 0) 50%, rgba(0, 212, 255, 0) 100%);
  border-bottom: solid #4f1c30;
  padding: 5px;
}

.px-3 div {
  padding-top: 20px;
  padding-bottom: 10px;
}

h2 {
  margin: 0px;
  font-weight: 800;
  line-height: 2;
}

p {
  margin: 0;
  padding-bottom: 10px;
}

h4 {
  text-align: center;
  background: radial-gradient(circle, rgb(0, 0, 0) 50%, rgba(0, 212, 255, 0) 100%);
  border-bottom: solid #4f1c30;
  padding: 5px;
}

main a {
  text-decoration: none;
  color: #d28989;
}

strong {
  text-decoration: underline;
  font-weight: 900;
}

main section div ul {
  list-style: square;
}

table {
  display: block;
  overflow-x: auto;
}
table th, table td {
  border: solid 1px;
  border-collapse: collapse;
  text-align: center;
}

form {
  border: solid;
}

/* ----- footer ----- */
footer {
  background-color: #0e0712;
  text-align: center;
  border-top: solid black;
}

/* ----- Class ----- */
.top {
  display: flex;
  justify-content: space-between;
  background-color: #0e0712;
  color: #758193;
  width: 100%;
  padding: 0px 10px;
  height: 100px;
  position: fixed;
  z-index: 1;
}

.button {
  display: flex;
  justify-content: center;
  border: solid 2px #b91f41;
  border-radius: 0.25em;
  height: 75px;
  font-size: 1rem;
  position: relative;
  text-shadow: 0 0 0.125em hsla(0deg, 0%, 100%, 0.507), 0 0 0.45em #b91f41;
  box-shadow: inset 0 0 0.75em 0 #b91f41;
  transition: 100ms;
}

.button::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: #b91f41;
  top: 65%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: perspective(1em) rotateX(20deg) scale(1, 0.3);
  filter: blur(1em);
  opacity: 0.2;
}

.b, .b-5, .b-4, .b-3, .b-2, .b-1 {
  -webkit-animation: fade-in;
          animation: fade-in;
}

.b-1 {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

.b-2 {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.b-3 {
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

.b-4 {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.b-5 {
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
}

.banner {
  background: linear-gradient(rgba(36, 21, 37, 0.8274509804), rgba(36, 21, 37, 0.1921568627)), url(../imagenes/mist\ in\ the\ city.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  color: #0e0712;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.wrapper div {
  padding: 0 10px 20px;
}

.quote {
  background: linear-gradient(90deg, rgb(36, 21, 37) 0%, rgba(79, 28, 48, 0) 75%);
  background-size: 400%;
  color: #dddadb;
  transition: 4s;
  padding: 0;
  -webkit-animation: quote 8s infinite alternate;
          animation: quote 8s infinite alternate;
}
.quote p {
  text-align: center;
}
.quote h2::before {
  content: open-quote;
  font-size: 1.2em;
  padding: 0 0 0 0.2em;
}
.quote h2::after {
  content: close-quote;
  font-size: 1.2em;
}

@-webkit-keyframes quote {
  0% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

@keyframes quote {
  0% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}
.title {
  background: radial-gradient(circle, rgb(0, 0, 0) 0%, rgba(0, 212, 255, 0) 100%);
  color: #dddadb;
  text-align: center;
  font-size: 3rem;
  font-family: "Splash";
}

.thin, .thin-font {
  font-weight: 200;
}

.regular, .regular-font {
  font-weight: 400;
}

.bold, .remark, .warning, .bold-font {
  font-weight: 800;
}

.thin-font {
  font-style: oblique;
  font-size: 0.8rem;
}

.regular-font {
  font-size: 1rem;
}

.bold-font, .warning {
  font-size: 1.5rem;
}

.div-with-scroll {
  height: 450px;
  overflow: scroll;
  overflow-x: hidden;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.center table {
  max-width: 1000px;
}

.observacion {
  text-align: start;
  width: auto;
  padding: 8px;
}

.remark, .warning {
  text-decoration: underline;
}

.warning {
  color: #b91f41;
  font-variant: small-caps;
}

.text-with-img {
  display: flex;
  justify-content: space-between;
}
.text-with-img img {
  max-width: 400px;
}

.emilia {
  max-height: 500px;
}

.fabby {
  max-height: 600px;
}

/*---- Grid  ----*/
section {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 10px;
  grid-template-areas: "us city" "groups groups";
}
section .city {
  grid-area: city;
  border: solid #758193;
  padding: 25px;
  margin: 15px;
}
section .us {
  grid-area: us;
  border: solid #758193;
  padding: 25px;
  margin: 15px;
}
section .groups {
  grid-area: groups;
  border-top: solid #758193;
  padding: 15px;
  margin: 5px;
}
section .groups h3 {
  text-align: center;
  margin: 25px 0px;
}
section .groups p {
  margin: 20px;
}

.dropdown-item {
  margin: 0;
}

.row {
  padding: 20px 0px;
}

.card {
  background-color: #b91f41;
  position: inherit;
}

.btn {
  margin: 20px 0px;
}

.carousel {
  border: #758193 solid;
}

.carousel-caption {
  bottom: 35em;
  text-shadow: 0 0 0.5em #0e0712;
}

@media screen and (max-width: 1300px) {
  .top {
    height: 125px;
  }
  .banner {
    height: 500px;
  }
  header div nav .button {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  header div nav .button:hover {
    height: auto;
  }
  header div nav .button a {
    margin: 0;
  }
  img {
    max-width: 100%;
  }
  .text-with-img {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 1150px) {
  h1::before {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  body {
    padding: 0;
    font-size: 2rem;
  }
  .top {
    height: auto;
    width: 100%;
  }
  header div h1 {
    padding: 0px;
  }
  header div nav .nav-bar {
    display: none;
  }
  header div nav .dropdown {
    display: inherit;
  }
  section {
    display: flex;
    flex-direction: column;
  }
  .text-with-img {
    padding: 0;
    margin: 0;
  }
  .wrapper {
    padding: 0, 10px;
  }
  img {
    max-width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .wrapper {
    padding: 0;
  }
}/*# sourceMappingURL=styles.css.map */