* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: 'Playfair Display';
    color: $color-white;
    font-weight: 300;
    font-size: 20px;
    @include space (100%, 0);
  }

    /* ----- Hovers y Animations -------- */
    
    a:hover {
        color: $color-Yellow;
      }
      