// aqui cambio elementos especificos de boostrap

.dropdown-item {
  margin: 0;
}

.row {
    padding: 20px 0px;
  }
  
.card {
    background-color: $color-vibrant-red;
    position: inherit;
  }
  
.btn {
    margin: 20px 0px;
  }

.carousel {
  border: $color-silver-grey solid;
}

.carousel-caption {
  bottom: 35em;
  text-shadow: 0 0 0.5em $color-black-smoke;
}
