// aqui cambio elementos especificos de boostrap


.row {
    padding: 20px 0px;
  }
  
.card {
    background-color: $color-vibrant-red;
  }
  
.btn {
    margin: 20px 0px;
  }

.carousel {
  max-width: 95%;
}