// header

.top {
    display: flex;
    justify-content: space-between;
    background-color: $color-black-smoke;
    color: $color-silver-grey;
    width: 100%;
    height: 100px;
    position: fixed;
  }

  .button {
    border: solid 2px;
    height: 75px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    transition: 0.5s;
  }


//   nav
  .b-1 {
    animation: fade-in;
    animation-duration: 0.5s;
  }
  
  .b-2 {
    animation: fade-in;
    animation-duration: 1s;
  }
  
  .b-3 {
    animation: fade-in;
    animation-duration: 1.5s;
  }
  
  .b-4 {
    animation: fade-in;
    animation-duration: 2s;
  }
  
  .b-5 {
    animation: fade-in;
    animation-duration: 2.5s;
  }
  
// Main

  .banner {
    background: linear-gradient(#241525d3, #24152531), url(../imagenes/mist\ in\ the\ city.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    color: $color-black-smoke;
    display: flex;
    justify-content: end;
    flex-direction: column;
  }

  .title {
    background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(0, 212, 255, 0) 100%);
    color: $color-white;
    text-align: center;
    font-size: 60px;
    font-family: 'Splash';
  }

  .more-space div {
    padding: 20px;
  }

  .div-with-scroll {
    height: 450px;
    overflow: scroll;
    overflow-x: hidden;
  }

  .center {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    table {
      max-width: 1000px;
    }
  }

  
  
  .observacion {
    text-align: start;
    padding: 8px;
  }

  
  .warning {
    color: $color-vibrant-red;
    font-size: 25px;
    text-decoration: underline;
    font-weight: 100;
  }
  
  .remark {
    font-weight: 800;
    text-decoration: underline;
  }
  

//   imagenes

.text-with-img {
    display: flex;
    justify-content: space-between;
  }
  
.emilia {
    max-height: 400px;
  }
  
.cambrigeside {
    max-width: 400px;
  }

.fabby {
    max-height: 700px;
  }
  