// aca agrupo todas las clases 

// header

/* ----- Class ----- */
.top {
    display: flex;
    justify-content: space-between;
    background-color: $color-black-smoke;
    color: $color-silver-grey;
    @include space (100%, 0px 10px);
    height: 100px;
    position: fixed;
  }

  .button {
    display: flex;
    justify-content: center;
    border: solid 2px;
    height: 75px;
    font-size: 20px;    
    transition: 0.5s;
  }


//   nav

  //esta clase .b fue creada para demostrar que se utilizar el extend 
  .b {
    animation: fade-in;
  }
  .b-1 {
    @extend .b;
    animation-duration: 0.5s;
  }
  
  .b-2 {
    @extend .b;
    animation-duration: 1s;
  }
  
  .b-3 {
    @extend .b;
    animation-duration: 1.5s;
  }
  
  .b-4 {
    @extend .b;
    animation-duration: 2s;
  }
  
  .b-5 {
    @extend .b;
    animation-duration: 2.5s;
  }
  
// Main

  .banner {
    background: linear-gradient(#241525d3, #24152531), url(../imagenes/mist\ in\ the\ city.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    color: $color-black-smoke;
    display: flex;
    justify-content: end;
    flex-direction: column;
  }

  .title {
    background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(0, 212, 255, 0) 100%);
    color: $color-white;
    text-align: center;
    font-size: 60px;
    font-family: 'Splash';
  }

  .wrapper {
    div {
      padding: 0 10px 20px;
      
    }
  }


  // Each usando el mapa $fonts que esta en "_color-and-powers"
  @each $fuente, $peso in $fonts {
      .#{$fuente} {
          font-weight: $peso;
      }
  }

  .thin-font {
    @extend .thin;
    font-style: oblique;
    font-size: 15px;
  }
  // esta clase creo que puede llegar a ser util por eso la deje, pero por el momento no le eh encontrado uso
  .regular-font {
    @extend .regular;
    font-size: 20px;
  }

  .bold-font {
    @extend .bold;
    font-size: 25px;
  }

  .div-with-scroll {
    height: 450px;
    overflow: scroll;
    overflow-x: hidden;
  }

  .center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    table {
      max-width: 1000px;
    }
  }

  
  .observacion {
    text-align: start;
    @include space (auto, 8px)
  }

  .remark {
    @extend .bold;
    text-decoration: underline;
  }

  .warning {
    color: $color-vibrant-red;
    font-variant: small-caps;
    @extend .remark;
    @extend .bold-font;
  }
  

//   imagenes

.text-with-img {
    display: flex;
    justify-content: space-between;
    img {
      max-width: 400px;
    }
  }
  
.emilia {
    max-height: 400px;
  }
  
.fabby {
    max-height: 600px;
  }
  