// palette 
$color-white: #DDDADBff;
$color-silver-grey: #758193ff;
$color-Yellow: #e9a830;
$color-dark-purple: #4F1C30ff;
$color-darker-purple: #241525ff;
$color-black-smoke: #0e0712;
$color-pinkish: #d28989;
$color-vibrant-red: #9e1b38;