// palette 
$color-white: #DDDADBff;
$color-silver-grey: #758193ff;
$color-Yellow: #e9a830;
$color-dark-purple: #4F1C30ff;
$color-darker-purple: #241525ff;
$color-black-smoke: #0e0712;
$color-pinkish: #d28989;
$color-vibrant-red: #9e1b38;

// mixing

@mixin space ($ancho, $pad) {
    width: $ancho;
    padding: $pad;   
}

// maps
// creando un mapa para remarcar fuentes
$fonts: (
    thin: 200,
    regular: 400,
    bold: 800,
);