/* ----- Header ----- */
  
  
  
header{
  
  div {
    a {
      text-decoration: none;
      h1 {
        align-items: center;
        display: flex;
        font-family: 'Splash';
        text-transform: uppercase;
        color: $color-silver-grey;
        transition: 0.2s;
        position: relative;
        @include space (fit-content, 0 10px)
      }

      h1::before {
        pointer-events: none;
        content: "";
        position: absolute;
        background: $color-vibrant-red;
        top: 75%;
        right: 0;

        width: 100%;
        height: 100%;

        transition: 0.2s;

        transform: perspective(5rem) rotateX(30deg) scale(1, 0.5);
        filter: blur(1.5rem);
        opacity: 0;
      }
    }
    
  
    nav {

      .dropdown {
        display: none;
      }
      ul {
        display: flex;
        list-style: none;
        flex-wrap: wrap;
        
        li a {
          text-decoration: none;
          color: $color-vibrant-red;
          margin: 10px;
        }
      }
  
      
    }
  }
} 

  /* ----- Hovers y Animations -------- */


  header{
    div {
      a {
        h1:hover{
          color: $color-vibrant-red;
          text-shadow: 0 0 0.5rem hsla(0, 0%, 100%, 0.322), 0 0 1rem $color-vibrant-red;
        }
        h1:hover::before {
          opacity: 1;
        }
      }
    }
  }
  header div nav .button {
    &:hover {
      background: $color-vibrant-red;
      color: $color-darker-purple;
      text-shadow: none;
      box-shadow: 0 0 2em 0.5em $color-vibrant-red; 
    }
    &:hover::before {
      opacity: 1;
    }
  
    a:hover {
      color: $color-darker-purple;
    }
  }
  
  @keyframes fade-in {
    0% {
      transform: translateY(-100px);
    }
  
    100% {
      transform: translateY(0px);
    }
  }

  tr:hover {
    background-color: $color-black-smoke;
  }
  