// agrupada todas las mediaquery

@media screen and (max-width: 1290px) {
    .top {
      height: 125px;
    }
  
    .banner {
      height: 500px;
    }
  
    header div nav {
      .nav-bar {
        display: none;
      }

      .dropdown {
        display: inherit;
      }

      .button {
        height: max-content;
    
        &:hover {
          height: auto;
        }
      }
    } 
  
    img {
      max-width: 100%;
    }
  
    .text-with-img {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  
  @media screen and (max-width: 700px) {
    body {
      padding: 0;
      font-size: 2rem;
    }
  
    .top {
      height: auto;
      width: 100%;
    }
  
    header div {
      h1 {
        padding: 0px;
      }
    }
  
    section {
      display: flex;
      flex-direction: column;
    }
  
    .text-with-img {
      padding: 0;
      margin: 0;
    }
  
    .wrapper {
      padding: 0, 10px;
    }
  
    img {
      max-width: 100%;
    }
  }

  @media screen and (max-width: 500px) {
    .wrapper {
      padding: 0;
    }
  }
  